/* :root {
  font-size: 14pt;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li::after {
  content: " > ";
}
.breadcrumb li:nth-last-child()::after {
  content: "";
} -------------------------------------------------------------------------------------------*/


/*----------------------------------

/* =========================
   Layout
========================= */
.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 2rem;
}

/* =========================
   Sidebar
========================= */
.sidebar {
  background: var(--bg-card);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.sidebar h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 0.75rem;
}

.menu a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}

/* =========================
   Dashboard
========================= */
.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.card canvas {
  max-height: 220px;
}


.card {
  background: var(--bg-card);
  border-radius: 12px;
  padding: 1.25rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.dashboard .card:last-child {
  grid-column: 1 / -1;
}

.card h2 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}