<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>旅行編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>旅行を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('order.list') }}">旅行記録一覧</a></li>
        <li>旅行の編集</li>
    </ul>

    <form action="{{ url_for('order.edit', order_id=order.id) }}" method="post">
        <label>旅行客: 
            <select name="traveler_id" required>
                {% for traveler in travelers %}
                    <option value="{{ traveler.id }}" {% if order.user.id == traveler.id %}selected{% endif %}>{{ traveler.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>会社名: 
            <select name="product_id" required>
                {% for product in products %}
                    <option value="{{ product.id }}" {% if order.product.id == product.id %}selected{% endif %}>{{ product.name }}</option>
                {% endfor %}
            </select>
        </label><br>
         <label>日付: 
            <select name="data_id" required>
                {% for product in products %}
                    <option value="{{ product.id }}" {% if order.product.id == product.id %}selected{% endif %}>{{ product.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
