<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>目的地追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しい目的地を追加</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('place.list') }}">目的地一覧</a></li>
        <li>新規目的地</li>
    </ul>

    <form action="{{ url_for('place.add') }}" method="post">
        <label>目的地:
            <select name="place_id" required>
                <option value="1">沖縄</option>
                <option value="2">名古屋</option>
                <option value="3">北海道</option>
            </select>
        </label><br>

        <button type="submit">追加</button>
    </form>
</body>
</html>
